@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is a web application for rating restaurants. Duh.</p>
    <p>This application is built on ASP.NET. ASP.NET is a pretty cool thingymajig.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is a restaurant?</h2>
        <p>
            A restaurant is a place where people used to be able to go out to eat, before COVID-19. Now it's a place that gives the DoorDash driver your food a little while before it shows up on your doorstep.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How many restaurants are there?</h2>
        <p>Nobody knows. DoorDash drivers might say they know, but they're just guessing. It's a wild and wondrous world out there.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why should I rate restaurants?</h2>
        <p>Because it makes you feel important and like your voice is being heard, Karen.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>